.info-box {
    font-size: 1em;
}

.gm-err-container::before {
    content: '';
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.gm-err-container::after {
    content: "Unable to reach Google Maps";
    position: fixed;
  bottom: 70px;
  right: 10px;
  padding: 10px 40px;
  background-color: red;
  color: white;
  opacity: .7;
}