.content-bar {
    background-color: black;
}

.content-bar h1 {
    padding: 10px 20px;
    margin: 0;
    text-align: 0;
    color: white;

    position: relative;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.search-box {
    flex-grow: 1;
    margin: 3px 0;
    padding: 5px 10px;
}

.search-icon {
    color: white;
    padding: 6px 6px 7px 6px;
    background-color: grey;
}

.places {
    list-style: none;
    padding: 0;
    margin: 0;
}

.places:focus {
    outline: 1px solid blue;
}

.place {
    color: white;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

.place.open {
    color: black;
    background-color: white;
}

.header {
    height: 4em;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.hamburger {
    padding-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.hamburger:focus {
    outline: 1px solid blue;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 30%;
    margin-bottom: 4px;
}

.place-filter-pane {
    background-color: black;
    z-index: 100;
    position:absolute;
    left: -200%;
    height: calc(100vh - 4em);
    transition: left .2s ease-in-out;
}

.place-filter-pane.open {
    left: 0;
}

@media screen and (min-width: 1000px) {
    .content-bar {
        height: 100vh;
    }

    .hamburger {
        display: none;
    }

    .place-filter-pane {
        position: static;
    }
}