.content-bar {
    height: 100vh;
    background-color: black;
}

.content-bar h1 {
    padding: 10px 20px;
    margin: 0;
    text-align: 0;
    color: white;
    border-bottom: 1px solid white;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.search-box {
    flex-grow: 1;
    margin: 3px 0;
    padding: 5px 10px;
}

.search-icon {
    color: white;
    padding: 6px 6px 7px 6px;
    background-color: grey;
}

.place {
    color: white;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

.place.open {
    color: black;
    background-color: white;
}

