#map {
  height: 100vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  flex-wrap: wrap;
}

.content-bar {
  width:100%;
}

.map-wrapper {
  height: 100vh; 
  width: 100%;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-wrap: nowrap;
  }

  .content-bar {
    width: 250px;
  }
  
  .map-wrapper {
    height: 100vh; 
    flex-grow: 1;
  }
}